<aside class="span3 sidebar">
        
  <div class="widget recent">

    <h2 class="header"><span>Recent Posts</span></h2>

    <article class="post">
      <div class="row-fluid">
          <div class="span3">            
            <%= image_tag "singers.jpg" %>
          </div> <!-- /.span3 --> 
          <div class="span9">
            <p><strong>Arti sebuah pujian</strong></p>
            <p class="meta">20th January</p>
            <p class="comments">4 comments</p>
          </div> <!-- /.span9 --> 
        </div> <!-- /.row-fluid -->  
    </article> <!-- /.post -->

    <article class="post">
      <div class="row-fluid">
          <div class="span3">       
            <%= image_tag "donotentersign.jpg" %> 
          </div> <!-- /.span3 --> 
          <div class="span9">
            <p><strong>12 kata "Jangan"</strong></p>
            <p class="meta">20th January</p>
            <p class="comments">4 comments</p>
          </div> <!-- /.span9 --> 
        </div> <!-- /.row-fluid -->  
    </article> <!-- /.post -->

  </div> <!-- /.widget.recent -->
  
  <div class="widget search">
    
    <h2 class="header"><span>Search</span></h2>
    <form action="#" method="POST">

      <input type="text" placeholder="Search..." />

    </form>
    
  </div> <!-- /.widget.search -->

  <div class="widget archives">

    <h2 class="header"><span>Archives</span></h2>

    <ul class="square pink nmp styled">
      <li><a href="#">March 2013<span class="count">10</span></a></li>
      <li><a href="#">February 2013<span class="count">7</span></a></li>
      <li><a href="#">January 2013<span class="count">4</span></a></li>
      <li><a href="#">December 2012<span class="count">12</span></a></li>
      <li><a href="#">November 2012<span class="count">8</span></a></li>
    </ul>

  </div> <!-- /.widget.categories -->
  
</aside> <!-- /.span3 -->