<div class="page-title">
    
    <div class="container">
      
      <h1 class="with-subtitle">Devotions</h1>
      <span>our daily bread</span>
        
    </div> <!-- /.container -->

  </div> <!-- /.page-title -->

  <div class="page-content">
    
    <div class="container">
      
      <div class="row-fluid section">        
        
        <div class="span9">
        
          <article class="post">

            <div class="image">
              <a href="/devotions/1">
                <%= image_tag "singers.jpg" %>
              </a>
            </div> <!-- /.image -->

            <aside>
              <div class="date">
                <span class="day">20</span>
                <span class="month">Jan</span>
              </div> <!-- /.date -->
              <div class="type">
                <i class="icon-pencil"></i>
              </div> <!-- /.type -->
            </aside>

            <div class="content">
              <header>
                <h2>
                  <a href="/devotions/1">Arti sebuah pujian</a>
                </h2>
                <p class="meta">Posted by <a href="#">admin</a> in <a href="#">devotions</a> | 4 comments</p>
              </header>
              <p>Ada kisah nyata seorang penyanyi terkenal di Eropa, seorang wanita yg memiliki suara bagus sekali. Wanita ini bersuamikan pemain musik, pemain keyboard & seorang pengarang lagu. Begitu pandainya sang suami ini tentang lagu,nada, birama,tangga nada & hal2 lain di bidang musik semacam itu, sehingga dia selalu menemukan apa yg harus dikoreksi ketika isterinya menyanyi</p>
              <a class="button pink" href="/devotions/1">Read more</a>
            </div> <!-- /.content -->

          </article> <!-- /.post -->

          <article class="post">

            <aside>
              <div class="date">
                <span class="day">13</span>
                <span class="month">Dec</span>
              </div> <!-- /.date -->
              <div class="type">
                <i class="icon-pencil"></i>
              </div> <!-- /.type -->
            </aside>

            <div class="content">
              <header>
                <h2>12 kata "Jangan"</h2>
                <p class="meta">Posted by <a href="#">admin</a> in <a href="#">devotions</a> | 2 comments</p>
              </header>
              <p>12 kata “Jangan” yang perlu dihindari dan menjadi motifasi kita 1. Jangan menunggu bahagia baru tersenyum, dan TERSENYUMLAH, maka kamu kian bahagia</p>
              <a class="button pink" href="#">Read more</a>
            </div> <!-- /.content -->

          </article> <!-- /.post -->
          
        </div> <!-- /.span9 -->  

        <%= render :partial => "sidebar" %>

      </div> <!-- /.row.fluid.section -->

    </div> <!-- /.container -->

  </div> <!-- /.page-content -->