<div class="page-title">
    
    <div class="container">
      
      <h1 class="with-subtitle">Arti sebuah pujian</h1>
      <span>Devotions</span>
        
    </div> <!-- /.container -->

  </div> <!-- /.page-title -->

  <div class="page-content">
    
    <div class="container">
      
      <div class="row-fluid section">     
      
        <div class="span9">
        
          <article class="post">

            <div class="image">
              <%= image_tag "singers.jpg" %>
            </div> <!-- /.image -->

            <aside>
              <div class="date">
                <span class="day">20</span>
                <span class="month">Jan</span>
              </div> <!-- /.date -->
              <div class="type">
                <i class="icon-pencil"></i>
              </div> <!-- /.type -->
            </aside>

            <div class="content">

              <header>
                <h2>Arti sebuah pujian</h2>
                <p class="meta">Posted by <a href="#">admin</a> in <a href="#">devotions</a> | 4 comments</p>
              </header>
              <p>Ada kisah nyata seorang penyanyi terkenal di Eropa, seorang wanita yg memiliki suara bagus sekali. Wanita ini bersuamikan pemain musik, pemain keyboard & seorang pengarang lagu. Begitu pandainya sang suami ini tentang lagu,nada, birama,tangga nada & hal2 lain di bidang musik semacam itu, sehingga dia selalu menemukan apa yg harus dikoreksi ketika isterinya menyanyi.</p>

              <p>Kalau isterinya menyanyi selalu saja ada komentar & kritik, seperti bagian awal kurang tinggi, bagian ini kurang pelan, bagian akhir harusnya naik sedikit,dsb. Selalu saja ada komentar pedas yg dia lontarkan kalau isterinya menyanyi. Akhirnya sang wanita malas menyanyi. Dia berkeputusan: wah gak usah nyanyi aja deh, apa saja salah terus, nyanyi apa saja ada yg kurang. Enggak usah nyanyi, kalau nyanyi kadang malah bertengkar.</p>

              <p>Singkat cerita, karna suatu musibah, sang suami meninggal & lama setelah itu si wanita menikah lagi dgn seorang tukang ledeng. Tukang ledeng ini tdk tahu menahu soal musik. Yg ia tahu isterinya bersuara bagus & dia selalu memuji isterinya kalau bernyanyi. Suatu ketika isterinya bertanya: “bagaimana laguku pa?”. Dia berkata kepada isterinya: “Ma,saya ini selalu ingin cepat pulang karna mau dengar km menyanyi, ma” Lain kali dia berkata,”Ma,kalau saya tdk menikah dgn km, mungkin saya sdh tuli karna bunyi dentuman, bunyi gergaji, bunyi cericit drat pipa ledeng,dll yg saya dgr sepanjang hari kalau saya bekerja. Sebelum saya menikah denganmu, saya sering mimpi & terngiang2 suara2 gergaji dll yg tidak mengenakkan itu ketika tidur. Skrg setelah menikah & sering mendengar km menyanyi, lagumulah yg terngiang-ngian-g”. Istrinya sangat bersuka cita, tersanjung merasa diterima dgn pujian yg diterima & membuat dia gemar bernyanyi dan bernyanyi. Mandi dia bernyanyi, masak dia bernyanyi dan tanpa disadarinya dia berlatih, berlatih dan berlatih. Suaminya mendorong hingga dia mulai merekam & mengeluarkan kaset volume pertama dan ternyata disambut baik oleh masyarakat.</p>

              <p>Wanita ini akhirnya menjadi penyanyi terkenal, dan dia terkenal BUKAN pada saat suaminya ahli musik, tetapi saat suaminya seorang TUKANG LEDENG yang memberinya sedikit demi sedikit pujian ketika dia menyanyi.</p>

              <p>Sedikit pujian memberikan penerimaan, sedikit pujian memberikan rasa diterima, memberikan dorongan. Semangat dan dorongan untuk melakukan hal yang baik dan lebih baik lagi. Sedikit pujian dapat membuat seseorang bisa meraih prestasi tertinggi yang bisa diraihnya.</p>

              <p>Omelan, bentakan, kecaman, amarah atau kritik yg tidak membangun tidak banyak merubah, karena itu marilah kita saling memberikan sedikit pujian satu dengan yg lain. ( www.pengharapan.com )</p>

            </div> <!-- /.content -->

          </article> <!-- /.post -->

          <hr />
        
        </div> <!-- /.span9 -->     

        <%= render :partial => "sidebar" %>

      </div> <!-- /.row.fluid.section -->

    </div> <!-- /.container -->

  </div> <!-- /.page-content -->