<div class="page-title">
    
    <div class="container">
      
      <h1 class="with-subtitle">Events</h1>
      <span>2nd Chance</span>
        
    </div> <!-- /.container -->

  </div> <!-- /.page-title -->

  <div class="page-content">
    
    <div class="container">
      
      <div class="row-fluid section">
      
        <div class="span8">
          
          <div id="portfolio-slider" class="section">
            
            <ul class="slides">

              <li>
                <a href="#"><%= image_tag "2nd chance.jpg" %></a>
                <div class="flex-caption">
                  <h2>2nd Change</h2>
                    <p>Is there any second chance in our life?</p>
                </div>
              </li>

            </ul>
            
          </div> <!-- /#portfolio-slider -->
          
        </div> <!-- /.span8 -->

        <div class="span4">
        
          <aside class="sidebar">

            <div class="widget">
              
              <h2 class="header"><span>Event Brief</span></h2>

              <p><strong>Cras eu massa mi, tristique eleifend quam. Fusce accumsan arcu vitae nisi sagittis consectetur. Vestibulum interdum faucibus magna, sit amet accumsan risus ullamcorper in.</strong></p>

              <p>Aenean consectetur, mi sed adipiscing posuere, nisl metus consectetur neque, blandit suscipit quam leo ut quam. Maecenas tristique purus sed nulla feugiat a euismod ante pretium.eu mi placerat varius semper vel est. </p>
              
            </div> <!-- /. -->        

          </aside>
    
        </div> <!-- /.span4 --> 

      </div> <!-- /.row-fluid -->

    </div> <!-- /.container -->

  </div> <!-- /.page-content -->