<div class="page-title">
    
    <div class="container">
      
      <h1 class="with-subtitle">About</h1>
      <span>A little about us</span>
        
    </div> <!-- /.container -->

  </div> <!-- /.page-title -->

  <div class="page-content">
    
    <div class="container">

      <h2 class="header"><span>Our Vision</span></h2>
        
      <div class="mission section">
              
        <div class="row-fluid">
        
          <div class="span12">

            <p>Menjadi anak muda Kristen yang <span>bertumbuh</span>, <span>berintegritas</span> dan <span>memahami hakekat hidup Kristiani</span> lewat media online</p>

          </div> <!-- /.span12 --> 

        </div> <!-- /.row-fluid -->

      </div> <!-- /.mission -->
      
      <div class="row-fluid section">
      
        <div class="span12">
          
          <h2 class="header"><span>Our Mision</span></h2>
          <p>Bertumbuh lewat komunitas</p>

          <p>Membuka kesempatan melayani untuk semua jemaat</p>

          <p>Menanamkan hati misi, sesuai hati Tuhan Yesus</p>

        </div> <!-- /.span12 --> 

      </div> <!-- /.row-fluid -->

      

      <div class="our-team">

        <h2 class="header"><span>Our team</span></h2>
        
        <div class="row-fluid">    
          
          <div class="span3 member">
          
            <div class="image">
              <%= image_tag "staff/1.png", :alt => "Team 1" %>
            </div> <!-- /.image -->

            <div class="info">
              
              <header>
                <h3>Ray Stephen Muljana</h3>
                <span>Youth Shalom Leader</span>
              </header>

              <p>Gw lahir di Bandung, 19 Mei 1988 sebagai anak bungsu dari 3 bersaudara dari pasangan Handi Muljana dan Henny Herianti Jonathan. Ketika itu Indonesia baru merdeka 43 tahun. Gw besar di kota ini, menempuh pendidikan di kota ini juga, lulus dari UNPAR tahun 2012. Gw rindu pekerjaan Tuhan dinyatakan lewat komunitas Youth Shalom yang sekarang Tuhan ijinin gw pimpin.</p>
              
            </div> <!-- /.info -->
              
          </div> <!-- /.span3.member --> 

          <div class="span3 member">
          
            <div class="image">
              
              <%= image_tag "staff/3.png", :alt => "Team 2" %>
            
            </div> <!-- /.image -->

            <div class="info">
              
              <header>
                <h3>David Angga Prasetya</h3>
                <span>Youth Shalom Deputy Leader</span>
              </header>

              <p>Kalau perlu web site untuk menunjang usaha anda, hubungi saya!</p>
              
            </div> <!-- /.info -->
            
          </div> <!-- /.span3.member --> 

          <div class="span3 member">
          
            <div class="image">
              
              <%= image_tag "staff/4.png", :alt => "Team 3" %>
            
            </div> <!-- /.image -->

            <div class="info">
              
              <header>
                <h3>Samuel Setiawan</h3>
                <span>Vice Chairman</span>
              </header>

              <p>Etiam nec augue enim, ut pulvinar turpis. Mauris sed aliquet mauris. Pellentesque id tincidunt eros. Cum sociis natoque penatibus.</p>
              
            </div> <!-- /.info -->
            
          </div> <!-- /.span3.member --> 
          
        </div> <!-- /.row-fluid -->

        <div class="row-fluid section">
      
        <div class="span12">
          
          <section class="tabs" id="tabs">
        
            <h2 class="header"><span>Our Locations</span></h2>

            <p>Jumlah Total Youthers saat ini: <strong>1330</strong></p>

            <div class="tabs-wrapper">
              
              <ul class="tabs-nav">
                <li><a href="#tab1-1">Mada 1</a></li>
                <li><a href="#tab2-1">Mada 2</a></li>
                <li><a href="#tab3-1">Mada 3</a></li>
                <li><a href="#tab4-1">Mada 4</a></li>
              </ul>

              <div class="tab" id="tab1-1">
                <table class="pink striped">
                  <tr>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Kota</th>
                    <th>Jumlah Youthers</th>
                    <th>Wilayah</th>
                  </tr>
                  <tr>
                    <td>Youth Shalom</td>
                    <td>Jl. Semar no. 36</td>
                    <td>Bandung</td>
                    <td>170</td>
                    <td>Mawil 1</td>
                  </tr>
                  <tr>
                    <td>Youth Maranatha</td>
                    <td>Jl. Semar no. 11</td>
                    <td>Cimahi</td>
                    <td>160</td>
                    <td>Mawil 2</td>
                  </tr>
                </table>
                <p>Jumlah Youthers: <strong>330</strong></p>
              </div>
              <div class="tab" id="tab2-1">
                <table class="pink striped">
                  <tr>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Kota</th>
                    <th>Jumlah Youthers</th>
                    <th>Wilayah</th>
                  </tr>
                  <tr>
                    <td>Youth Eclesia</td>
                    <td>Jl. Soka no 9</td>
                    <td>Jakarta</td>
                    <td>170</td>
                    <td>Mawil 1</td>
                  </tr>
                  <tr>
                    <td>Youth Getsemani</td>
                    <td>Jl. Pelabuhan no. 10</td>
                    <td>Sukabumi</td>
                    <td>160</td>
                    <td>Mawil 2</td>
                  </tr>
                </table>
                <p>Jumlah Youthers: <strong>230</strong></p>
              </div>
              <div class="tab" id="tab3-1">Mada 3 Content</div>
              <div class="tab" id="tab4-1">Mada 4 Content</div>
              
            </div> <!-- /.tabs-wrapper -->

          </section>

        </div> <!-- /.span12 --> 

      </div> <!-- /.row-fluid -->

      </div> <!-- /.our-team -->

    </div> <!-- /.container -->

  </div> <!-- /.page-content -->