<div class="page-title">
    
    <div class="container">
      
      <h1 class="with-subtitle">Contact</h1>
      <span>Get in touch with us</span>
        
    </div> <!-- /.container -->

  </div> <!-- /.page-title -->

  <div class="page-content">
    
    <div class="container">
    
      <div class="row-fluid">
      
        <div class="span6">
        
          <p><strong>Integer non erat enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, felis dignissim sagittis pellentesque, nisi mauris venenatis lorem, sit amet dignissim sapien arcu sed massa. </strong></p>

          <p>Nam id justo augue, a sollicitudin arcu. Donec luctus adipiscing varius. Aliquam porttitor, purus id volutpat interdum, elit mi faucibus dolor, ac blandit velit velit sed libero. Integer et erat ac est malesuada sagittis. Integer imperdiet ullamcorper est, tincidunt posuere neque tristique eu. Phasellus dapibus massa laoreet neque posuere dignissim.</p>

          <div id="contact-results">
            <div class="alert alert-error" id="contact-error">
                Please fill in all required fields.
            </div>  
            <div class="alert alert-success" id="contact-success">
                Thanks for getting in touch. We will get back to you shortly!
            </div>
          </div>

          <img src="images/loading.gif" alt="Loading" id="contact-loading" />

          <form id="contact" method="POST" action="form.php">
            <input type="text" id="name" name="name" class="req" placeholder="Name.." />
            <input type="email" id="email" name="email" class="req" placeholder="Email.." />
            <input type="text" id="phone" name="phone" class="req" placeholder="Phone.." />
            <textarea name="comments" id="comments" class="req" placeholder="Comments.."></textarea>
            <input type="submit" value="SEND!" />
          </form>
          
        </div> <!-- /.span6 --> 

        <div class="span6">
        
          <div class="row-fluid">
          
            <div class="span6">
            
              <ul class="none nmp contact">
                <li><i class="icon icon-phone"></i> +44 141 627 5364</li>
                <li><i class="icon icon-mobile-phone"></i> +44 7954 578 453</li>
                <li><i class="icon icon-envelope"></i> <a href="#">info@youthers.com</a></li>
                <li>
                  <i class="icon icon-map-marker"></i>
                  <address>
                    Jalan Semar no. 36, <br />
                    Bandung <br />
                    G2 2JJ <br />
                    Indonesia
                  </address>
                </li>
              </ul>
              
            </div> <!-- /.span6 --> 

            <div class="span6">
            
              <ul class="none nmp contact-social">
                <li><i class="icon icon-twitter-sign"></i></li>
                <li><i class="icon icon-facebook-sign"></i></li>
                <li><i class="icon icon-pinterest-sign"></i></li>
                <li><i class="icon icon-linkedin-sign"></i></li>
                <li><i class="icon icon-google-plus-sign"></i></li>
                <li><i class="icon icon-github-sign"></i></li>
              </ul>
              
            </div> <!-- /.span6 --> 
            
          </div> <!-- /.row-fluid -->
          
          <div class="responsive-video">
            
            <iframe class="map" height="250" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=manhattan&amp;aq=&amp;sll=57.746995,-4.687341&amp;sspn=11.873314,19.797363&amp;ie=UTF8&amp;hq=&amp;hnear=Manhattan,+New+York,+United+States&amp;t=m&amp;z=12&amp;ll=40.790278,-73.959722&amp;output=embed"></iframe> 
            
          </div> <!-- /.responsive-video -->
          
        </div> <!-- /.span6 -->   
        
      </div> <!-- /.row-fluid -->
        
    </div> <!-- /.container -->

  </div> <!-- /.page-content -->